<html>
  <head>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" type="text/css" href="<%= cssRainbowBlender %>" />
    <link rel="stylesheet" type="text/css" href="<%= cssRegister %>" />
  </head>
  <body>
    <div class="panel">
        <div class="panel-input-wrapper">
            <input
                class="input-text"
                placeholder="请输入账号"
            />
        </div>
        <div class="panel-input-wrapper">
            <input
                class="input-text"
                placeholder="请输入密码"
            />
        </div>
        <div class="panel-input-wrapper">
            <input
                class="input-text"
                placeholder="请输入重复密码"
            />
        </div>
        <div class="buttons-container">
            <button id="button-login" class="button-primary">登陆</button>
        </div>
    </div>
    <script src="<%= jsRainbowBlender %>" type="text/javascript"></script>
    <script src="<%= jsRegister %>" type="text/javascript"></script>
  </body>
</html>
