<html>
  <head>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" type="text/css" href="<%= cssRainbowBlender %>" />
    <link rel="stylesheet" type="text/css" href="<%= cssRegister %>" />
  </head>
  <body>
    <div id="container" touch-action="none"></div>
    <script src="<%= jsRainbowBlender %>" type="text/javascript"></script>
    <script src="<%= jsRegister %>" type="text/javascript"></script>
  </body>
</html>
